<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../lib/iconfont/iconfont.css">
    <script src="../lib/require.js" data-main="../js/cart.js"></script>
    <script>
        requirejs.config({
            paths: {
                "jquery": "../lib/jquery-3.4.1"
            }
        })
    </script>
</head>

<body>
    @include('head.html')
    <div id="cart" class="container">
        <div class="cart_hard">
            <h1>我的购物车</h1>
        </div>
        <div class="cart_title">
            <div><input class="cart_title_selectAll" type="checkbox"> 全选</div>
            <div>商品名称</div>
            <div>价格</div>
            <div>数量</div>
            <div>小计</div>
            <div>操作</div>
        </div>
        <ul class="cart_list">
            <!-- <li>
                <div><input type="checkbox"></div>
                <div>
                    <img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/72/10001072_1560500588462_750x750.png"
                        alt="">
                    <p>Z5x 6GB+128GB 极夜黑（极夜黑）</p>
                </div>
                <div>¥ 1899.00</div>
                <div>
                    <span>-</span>
                    <input class="cart_list_text" type="text" value="1">
                    <span>+</span>
                </div>
                <div>¥ 1899.00</div>
                <div>删除</div>
            </li>
            <li>
                <div><input type="checkbox"></div>
                <div>
                    <img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/72/10001072_1560500588462_750x750.png"
                        alt="">
                    <p>Z5x 6GB+128GB 极夜黑（极夜黑）</p>
                </div>
                <div>¥ 1899.00</div>
                <div>
                    <span>-</span>
                    <input class="cart_list_text" type="text" value="1">
                    <span>+</span>
                </div>
                <div>¥ 1899.00</div>
                <div>删除</div>
            </li> -->
        </ul>
        <div class="cart_computed">
            <div class="cart_computed_price">
                <p></p>
                <p></p>
            </div>
            <div class="cart_computed_btn">
                <a href="#">立即结算</a>
            </div>
        </div>
    </div>
    @include('ce.html')
    @include('foot.html')
</body>

</html>