<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <script src="../lib/require.js" data-main="../js/index.js"></script>
    <script>
        requirejs.config({
            paths: {
                "jquery": "../lib/jquery-3.4.1"
            }
        })
    </script>
</head>

<body>
    @include('head.html')
    <div id="banner" class="container">
        <ul class="banner_imgs">
            <!-- <li><a href="#"><img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/20191122/2019112215543244971_original.png" alt=""></a></li>
            <li><a href="#"><img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/20191122/20191122102836629352_original.png" alt=""></a></li>
            <li><a href="#"><img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/20191118/20191118162021688621_original.jpg" alt=""></a></li>
            <li><a href="#"><img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/20191113/20191113212523157386_original.jpg" alt=""></a></li>
            <li><a href="#"><img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/20191121/20191121105441564405_original.jpg" alt=""></a></li>   -->
        </ul>
        <ol class="banner_dots">
            <!-- <li class="active"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li> -->
        </ol>
        <div class="banner_menu">
            <ul>
                
            </ul>
        </div>
    </div>
    <div id="phone" class="container">
        <!-- <h2>手机</h2>
        <ul class="phone_list">
            <li>
                <a href="#">
                    <img src="https://shopstatic.vivo.com.cn/vivoshop/commodity/72/10001072_1560500588462_750x750.png"
                        alt="">
                    <h3>Z5x 6GB+128GB 极夜黑</h3>
                    <p>￥ 1398.00</p>
                </a>
            </li>
        </ul> -->
    </div>
    <div id="parts" class="container">
        
    </div>
    @include('foot.html')
</body>

</html>