<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <script src="../lib/require.js" data-main="../js/register.js"></script>
    <script>
        requirejs.config({
            paths: {
                "jquery": "../lib/jquery-3.4.1"
            }
        })
    </script>
</head>
<body style="background: rgb(247, 247, 247);">
    <div id="register">
        <div class="register_box">
            <div class="register_title">
                <a href="../views/index.html">
                    <img src="https://accountstatic.vivo.com.cn/accountstatic.vivo.com.cn/static/img/logo.1f42884.png.webp" alt="">
                </a>
                <h1>账号注册</h1>
            </div>
            <div class="register_input">
                <input type="text" name="username" id="username" placeholder="请输入用户名">
                <input type="password" name="password" id="password" placeholder="请输入密码">
                <input type="submit" value="注册" class="btn">
            </div>
        </div>
    </div>
</body>
</html>