<div id="hungBar">
    <ul class="hungBar_list">
        <li>
            <a href="../../views/cart.html" class="hungBar_common_cart iconfont">&#xe6eb;</a>
        </li>
        <li>
            <a href="#" class="hungBar_common_login iconfont">&#xe6f7;</a>
        </li>
        <li>
            <a href="#" class="hungBar_common_feedback iconfont">&#xe705;</a>
        </li>
        <li id="goTop">
            <a href="#" class="hungBar_common_top iconfont">&#xe709;</a>
        </li>
    </ul>
    <ul class="hungBar_list2">
        <li>
            购物车
        </li>
        <li>
            关于我们
        </li>
        <li>
            联系我们
        </li>
        <li>
            回到顶部
        </li>
    </ul>
</div>