<div id="head-wrap" class="container-fluid">
    <ul class="head-wrap-navs l">
        <li><a href="#">品牌</a></li>
        <li><a href="#">Funtouch OS</a></li>
        <li><a href="#">体验店</a></li>
        <li><a href="#">政企业务</a></li>
        <li><a href="#">社区</a></li>
    </ul>
    <ul class="head-wrap-user r">
        <!-- <li><a href="../../views/login.html">登录</a></li>
        <i></i>
        <li><a href="../../views/register.html">注册</a></li> -->
    </ul>
</div>
<div id="head" class="container">
    <div id="head-logo" class="l">
        <a href="../../views/index.html"><img src="../../static/vivo-logo.png" alt=""></a>
        
    </div>
    <div id="head-navs" class="l">
        <ul class="head-navs-list">
            <li class="vp-head-series">
                <a href="https://www.vivo.com.cn/products-iqoo.html">iQOO专区</a>
                <div class="head-navs-de">
                    <ul>
                        <li><a href="#"><img src="../../static/nav (1).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (2).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (3).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (4).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (5).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (6).png" alt=""></a></li>
                    </ul>
                </div>
            </li>
            <li class="vp-head-series">
                <a href="https://www.vivo.com/products-nex.html">NEX系列</a>
                <div class="head-navs-de">
                    <ul>
                        <li><a href="#"><img src="../../static/nav (7).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (8).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (9).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (10).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (11).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (12).png" alt=""></a></li>
                    </ul>
                </div>
            </li>

            <li class="vp-head-series">
                <a href="https://www.vivo.com/products-x.html">X系列</a>
                <div class="head-navs-de">
                    <ul>
                        <li><a href="#"><img src="../../static/nav (1).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (2).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (3).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (4).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (5).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (6).png" alt=""></a></li>
                    </ul>
                </div>
            </li>
            <li class="vp-head-series">
                <a href="https://www.vivo.com.cn/products-s.html">S系列</a>
                <div class="head-navs-de">
                    <ul>
                        <li><a href="#"><img src="../../static/nav (7).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (8).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (9).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (10).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (11).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (12).png" alt=""></a></li>
                    </ul>
                </div>
            </li>
            <li class="vp-head-series">
                <a href="https://www.vivo.com/products-z.html">Z系列</a>
                <div class="head-navs-de">
                    <ul>
                        <li><a href="#"><img src="../../static/nav (1).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (2).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (3).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (4).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (5).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (6).png" alt=""></a></li>
                    </ul>
                </div>
            </li>
            <li class="vp-head-series">
                <a href="https://www.vivo.com/products-y.html">Y系列</a>
                <div class="head-navs-de">
                    <ul>
                        <li><a href="#"><img src="../../static/nav (7).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (8).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (9).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (10).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (11).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (12).png" alt=""></a></li>
                    </ul>
                </div>
            </li>
            <li class="vp-head-series">
                <a href="https://www.vivo.com/products-u.html">U系列</a>
                <div class="head-navs-de">
                    <ul>
                        <li><a href="#"><img src="../../static/nav (1).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (2).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (3).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (4).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (5).png" alt=""></a></li>
                        <li><a href="#"><img src="../../static/nav (6).png" alt=""></a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <div id="head-search" class="r">
        <input type="text" name="" id="">
        <input type="submit" name="" id="" value="搜索">
    </div>
</div>
